{% extends 'base.html' %}

{% block title %}
	SimpleNeural
{% endblock %}

{% block content_title %}
	<h1>Simple Neural</h1>
{% endblock %}

{% block content %}
	Умное прогнозирование закупок
	<form action="/", method="post">
		<p>Выберите годовой график или отчёт по прогнозу:</p>
		<p>
			<select name="Select">
				<option value="2007">2007</option>
				<option value="2008">2008</option>
				<option value="2009">2009</option>
				<option value="2010">2010</option>
				<option value="2011">2011</option>
				<option value="2012">2012</option>
				<option value="2013">2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				<option value="2016">2016</option>
				<option value="2017">2017</option>
				<option value="Прогноз">Прогноз</option>
			</select>
		</p>
		<p><input type="submit" value="Продолжить"></p>
	</form>
<br>
<footer>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://vk.com/4heck"> SimpleNeural.com</a>
  </div>
</footer>
{% endblock %}